<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.dao.GuProPosalMainDao">
    <insert id="addGuProPosalMain" parameterType="guProPosalMain">
        insert into GUPROPOSALMAIN
         (POLICYNO,RISKCODE,BUSINESSCHANNEL,BUSINESSSOURCE,ISSUEDATE)
        values (#{policyNo},#{riskCode},#{businessChannel},#{businessSource},#{issueDate})
    </insert>

    <select id="seGuProsalMain" parameterType="String" resultType="guProPosalMain">
        select POLICYNO,RISKCODE,BUSINESSCHANNEL,BUSINESSSOURCE,ISSUEDATE from GUPROPOSALMAIN where POLICYNO=#{proPosalNo}
    </select>

</mapper>
