<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liu.dao.GuProPosalItemkindDao">
    <insert id="addGuProPosalItemkind" parameterType="guProPosalItemkind">
        insert into  guProPosalItemkind
        (proposalno, riskcode, itemno, itemcode, kindname, startdate, enddate)
        values (#{proPosalNo},#{riskCode},#{itemNo},#{itemCode},#{kindName},#{startDate},#{endDate})
    </insert>



</mapper>
